# Python envs
env
venv

# Pycache
__pycache__
.vscode

# Debugging
launch.json

# Environment Variables
.env

node_modules
stablecoin_env

fraudulent_transactions_dataset.csv
signer_1.json
signer_2.json
