body {
  margin: 0;
  /* user-select: none; */
}

.navbar {
  background-color: #A5315B;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

p {
  font-size: 20px;
}

span {
  font-size: 50px;
}


.PaystackButton {
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: #56d49d;
  font-weight: bold;
  color: #e0eafc;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin-top: 40px;
}

.title {
  position: relative;
  font-size: 46px;
  font-weight: bold;
}

.mobileTitle {
  position: relative;
  font-size: 42px;
  font-weight: bold;
}

.glass-child {
  position: absolute;
  top: 0;
  left: -30px;
}

.glass {
  border-radius: 50%;
  top: -80px;
  box-shadow: 0 -1px 5px 0;
  background: inherit;
  backdrop-filter: blur(2px);
  margin: 75px;
  margin-top: 85px;
  /* padding: 65px; */
  width: 125px;
  height: 110px;
  transform: rotate(135deg);

  text-align: center;

}